<ion-view title="About" >
	<ion-content padding="true">
	
	<div class="card">
	<div class="item item-text-wrap">
	<div class="text-center">
	<img  src="img/WGS_logo.png"/>
	</div>
		<p>This is a mobile app developed by Woodgrove Secondary School, Singapore. The app has two components: Reflection and Assessment. The reflection component aims to nurture students to be reflective individuals using the DEAL model (Ash & Clayton, 2009). The app is able to capture students’ learning experiences and their reflective thoughts throughout their entire secondary school education, especially their service learning experiences. The assessment component is a developmental tool developed according to Woodgrove’s 3A4P Community Youth Leadership (CYL) student competencies indictors. The self-assessment tool allows youths to be aware of their strengths and area for improvements, and nurture them to be community youth leaders (CYL).
			</p>

			<p>This mobile app is powered by Singapore National Youth Council (NYC)</p>
			<div class="text-center">
			<img src="img/NYC.png"/>
			</div>
	 </div>
	 </div>
	 
	
</ion-content>
</ion-view>