<ion-view view-title=""> 
<ion-content>
<div class="login-splash">
<img src="img/login-splash.png">
</div>
 <div class="list">
    	<div class="item item-input">
      <label>
         <input type="text" placeholder="Your NRIC" ng-model="user.username">
      </label>
      </div>
      <div class="item item-input">
     <label>
       <input type="password" placeholder="Your password" ng-model="user.password">
     </label>
      </div>
      
      	</div>

        
      
        </div>
        <div class="action-buttons">
        
         
      <button class="button button-positive button-block" ng-click="login() ">Log In</button>
      </div>
      <div class="text-center">
      <button class="button button calm button-outline" ng-click="UPHelp()">I forgot my username and password.</button>
      </div>

</ion-content>

</ion-view>