
  
		  <ion-tabs class="tabs-wgs-blue tabs-icon-top tabs-active-energized ">

		  <!-- Home Tab -->
		  <ion-tab title="Feed" icon-off="ion-ios-home" icon-on="ion-ios-home" ui-sref="home.tab.home" >
		    <ion-nav-view name="tab-home"></ion-nav-view>
		  </ion-tab>

<!-- My Thots Tab -->
      <ion-tab title="MyThots" icon-off="ion-ios-person-outline" icon-on="ion-ios-person" ui-sref="home.tab.mythots" >
        <ion-nav-view name="tab-mythots"></ion-nav-view>
      </ion-tab>
		  <!-- Thots Tab -->
		  <ion-tab title="Thots" icon-off="ion-ios-camera-outline" icon-on="ion-ios-camera" ui-sref="home.tab.thots.home" >
		    <ion-nav-view name="tab-snap"></ion-nav-view>
		  </ion-tab>



		</ion-tabs>
  <!-- Main content, usually <ion-nav-view> -->
  </ion-side-menu-content>

  <!-- Right menu -->
  

</ion-side-menus>

