<ion-view view-title="Thots">

  
  <ion-content class="padding">
  <div class="list">
  <div class="item">
<p>See what assignments you have.</p>
    <div class="button button-block button-wgs-orange" ui-sref="home.tab.thots.assignments"><i class="ion-ios-list-outline"></i> School Based Reflection</div>
    </div>
    <div class="item">
    <p>Pen down your personal thots.</p>
    <div class="button button-block button-wgs-yellow" ui-sref="home.tab.thots.write({assignmentID:0})"><i class="ion-android-happy"></i> Personal Reflection</div>
    </div>
    </div>
  </ion-content>
</ion-view>