
<ion-view view-title="Thots">
  
<ion-tabs class="tabs-icon-top tabs-color-active-positive">

  <!-- Dashboard Tab -->
  <ion-tab title="Home" icon-off="ion-ios-home" icon-on="ion-ios-home" href="#/tab/home" class="">
    <ion-nav-view name="tab-home"></ion-nav-view>
  </ion-tab>

  <!-- Chats Tab -->
  <ion-tab title="Thots" icon-off="ion-ios-camera-outline" icon-on="ion-compose" href="#/thots/home">
    
    <ion-nav-view name="thotsHome"></ion-nav-view>
  </ion-tab>

  <!-- Account Tab -->
  


</ion-tabs>

    
  
</ion-view>